// Theme App
$color-primary: #5E3DB3;
$color-primary-dark: #090C35;

$color-white:#FFFFFF;

$color-gray1:#F5F4F9;
$color-gray2:#adaaaa;

$color-text-headline: #E7E7E7;
$color-text-title: #C2C2C2;
$color-text-black: #000000;
$color-text-white: #FFFFFF;



